<%- include('./partials/header.ejs')%>

        <div class="col-md-5">
            <div class="card mx-auto">
                <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted fst-italic">So you've got a precious stone collection?</h6>
                <h2 class="card-title">THAT ROCKS!</h2>
                <p class="card-text">A marketplace for rock collectors and mineral lovers. Browse many listings of crystals, stones, and rocks or sell some of your own finds. Everything from common gravel to precious gems is welcome!</p>
                </div>
            </div>
        </div>
        <div class="col-md-7 text-center">
            <img src="./images/that-rocks-logo.png" alt="That Rocks! logo">
        </div>

<%- include('./partials/footer.ejs')%>